@import "variables";
.page-title {
  max-width: 600px;
  margin-bottom: 30px;
}
.rss-item {
  margin-bottom: 60px;
  .item-image {
    height: 330px;
    width: 100%;
    max-width: 380px;
    background-color: $border-color;
    margin: 20px 0 30px;
  }
  .item-category-wrapper, .item-publication-date-wrapper {
    font-size: 16px;
    span {
      display: inline-block;
    }
    label {
      display: inline-block;
    }
  }
  .item-category-wrapper {
    margin-bottom: 10px;
  }

  .item-description {
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  h1.page-title {
    font-size: 20px;
  }

  .rss-item {
    .item-category-wrapper, .item-publication-date-wrapper {
      font-size: 14px;
    }
    .item-description {
      font-size: 16px;
    }
  }
}
